@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

body {
  background: url(https://subtlepatterns.com/patterns/noise_lines.png);
  font-family: "Coiny", serif;
  overflow: hidden;
  color: #ffffff;
}

.bgoverlay {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
   font-family: "Coiny", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}

.ico {
  display: block;
  width: 320px;
  height: 320px;
}

.open .ico {
  animation: open 4s;
  transform: scale(10);
}

.ico .title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -95px;
  margin-top: -73px;
  z-index: 4;
  font-size: 40px;
  font-family: "Coiny", serif;
  color: #ffffff;
  cursor: pointer;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.open .ico .title {
  opacity: 0;
  transition: all 0.3s ease;
  top: -100px;
}

.ico:before,
.ico:after,
.ico2:before,
.ico2:after {
  position: absolute;
  top: 0;
  left: 0;
}

.ico:before,
.ico:after,
.ico2:before,
.ico2:after {
  display: block;
  font-size: 20em;
  color: #c4d0d5;
  content: "\f004";
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico2:before,
.ico2:after {
  color: #e6f2f7;
}

.ico:before {
  z-index: 3;
}

.ico:after {
  animation: explode 4s infinite;
}

.ico2:before {
  animation: explodeSmall 3s infinite;
}

.ico2:after {
  animation: explodeSmall 2s infinite;
}

.endtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imgg {
  width: 500px;
  height: auto;
}

.button {
  width: 500px;
  height: 50px;
  background:#dc7d66;
  border:2px solid #ab867f;
  border-radius:10px;
   transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  overflow: hidden;
    font-family: "Coiny", serif;
}

.button:hover {
  transform: scale(1.1);
  background:#eab84f;
}
.open .endtext {
  opacity: 1;
  animation: show 5s;
}

.endtext .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

@keyframes explode {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes explodeSmall {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes open {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(10);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .imgg {
    width: 300px;
  }

  .button {
    width: 300px;
  }
}